<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/DotNetDev">Dev</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
 
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reporting and Databases <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/DotNetDev/docs/Reporting/Crystal-Reports.html">Crystal Reports - Windows Platform Only</a></li>
          <li><a href="/DotNetDev//DotNetDev/docs/Reporting/fyiReporting.html">Majorsilence Reporting</a></li>
          <li><a href="/DotNetDev/docs/Database/SQLite.html">SQLite</a></li>
          <li><a href="/DotNetDev/docs/Database/MySQL.html">MySQL</a></li>
          <li><a href="/DotNetDev/docs/Database/MS-SQL-2008.html">MSSQL 2008 and 2012</a></li>
          <li>Postgresql</li>
          <li><a href="/DotNetDev/docs/Database/Microsoft-Server-Management-Objects.html">Microsoft Server Management Objects - Windows Platform Only</a></li>
          <li><a href="/DotNetDev/docs/Database/Database-Audit-Changes.html">Audit Database Changes - In Code</a></li>
          <li><a href="/DotNetDev/docs/Database/Dapper-Micro-ORM.html">Dapper Micro ORM</a></li>

        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DevOps <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/DotNetDev/docs/DevOps/SSH.html">SSH</a></li>
          <li><a href="/DotNetDev/docs/DevOps/Jenkins-CI.html">Build and CI - Jenkins</a></li>
          <li><a href="/DotNetDev/docs/DevOps/Ansible-Configuration-Management-SSH.html">Ansible - Configuration Management</a></li>
          <li>SaltStack - Configuration Management</li>
          <li><a href="/DotNetDev/docs/DevOps/Vagrant.html">Vagrant</a></li>
          <li>Docker</li>
          <li><a href="/DotNetDev/docs/DevOps/Cron.html">Cron</a></li>
          <li><a href="/DotNetDev/docs/DevOps/Fail2ban.html">Fail2Ban</a></li>

      </ul>
    </li>


    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li><a href="/DotNetDev/docs/NuGet">NuGet</a></li>
         <li>OmniSharp</li>
         <li><a href="/DotNetDev/docs/DevOps/Grep.html">Grep</a></li>

     </ul>
    </li>


    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services/Daemons <span class="caret"></span></a>
        <ul class="dropdown-menu">


            <li>Windows Service</li>
            <li>Linux Daemon</li>
            <li>Web Services - ServiceStack</li>
            <li><a href="http://ASP.Net">ASP.Net</a></li>


        </ul>
    </li>


    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Interfaces <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li>Winforms</li>
         <li>XWT</li>
         <li>GTK#</li>
         <li><a href="/DotNetDev/docs/Automated-Testing-LDTP">Automated Testing - LDTP</a></li>

     </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">VB Intro <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/DotNetDev/docs/VbIntroduction/Setup.html">Setup</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Program-The-First.html">Program the First</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Variables-Basic.html">Basic Variables</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Variables-Advanced.html">Advanced Variables</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/User-Input.html">User Input - Console</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Calculations.html">Calculations</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Arrays-Array-and-Generic-Lists.html">Generic Lists and Arrays</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Loops-For.html">For - Loop</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Loops-For-Each.html">For Each - Loop</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Loops-While.html">While - Loop</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Functions-Basic.html">Basic Functions</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Functions.html">Functions</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/If-and-Else.html">Conditionals - If and Else</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Reading-and-Writing-Files.html">Reading and Writing Files</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Data-Validation.html">Data Validation</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Error-Handling.html">Error Handling</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Objects.html">Objects</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Multiple-Project-Program.html">Multiple Project Program</a></li>
          <li>Interfaces and Objects</li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Automated-Testing.html">Automated Testing - NUnit</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Mocking.html">Mocking - moq</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Multiple-Processes-at-One-Time-(Threading).html">Threading - Multiple Processes</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Globalization.html">Globalization</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Resource-Files.html">Resource Files</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Localization.html">Localization</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Rounding.html">Rounding</a></li>
          <li><a href="/DotNetDev/docs/VbIntroduction/Doubles-are-Bad.html">Doubles are Bad - Financial Calculations</a></li>

      </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">C# Intro <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Write Me</a></li>


      </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Misc <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/DotNetDev/docs/Dev/Reflection.html">Reflection</a></li>
          <li><a href="/DotNetDev/docs/Dev/Encryption-and-Hashes.html">Encryption and Hashes</a></li>
          <li><a href="/DotNetDev/docs/Dev/Zip-and-Unzip.html">Zip and Unzip</a></li>
          <li><a href="/DotNetDev/docs/Dev/Firewalls.html">Firewalls - Windows Platform Only</a></li>
          <li><a href="/DotNetDev/docs/Dev/Internet.html">Internet - Downloads, Uploads</a></li>
          <li><a href="/DotNetDev/docs/Dev/Custom-Events.html">Custom Events</a></li>
          <li><a href="/DotNetDev/docs/Dev/XML.html">XML</a></li>

      </ul>
    </li>

    </ul>

  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>




