<header class="header clearfix">
    <button type="button" id="toggleMenu" class="toggle_menu">
      <i class="fa fa-bars"></i>
    </button>
    <h1><a href="{{site.baseurl}}">Dev</a></h1>
</header>

<nav class="vertical_nav">
  <ul id="js-menu" class="menu">
      <li id="reporting" class="menu--item menu--item__has_sub_menu">
        <label class="menu--link" title="Reporting and Databases">
          <i class="menu--icon  fa fa-fw fa-user"></i>
          <span class="menu--label">Reporting and Databases</span>
        </label>

        <ul class="sub_menu">
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Reporting/Crystal-Reports.html" class="sub_menu--link">Crystal Reports</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/Dev/docs/Reporting/fyiReporting.html" class="sub_menu--link">Majorsilence Reporting</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Database/SQLite.html" class="sub_menu--link">SQLite</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Database/MySQL.html" class="sub_menu--link">MySQL</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Database/MS-SQL-2008.html" class="sub_menu--link">MSSQL</a></li>
          <li class="sub_menu--item">Postgresql</li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Database/Microsoft-Server-Management-Objects.html" class="sub_menu--link">SMO</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Database/Database-Audit-Changes.html" class="sub_menu--link">Audit Database Changes</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Database/Dapper-Micro-ORM.html" class="sub_menu--link">Dapper Micro ORM</a></li>

        </ul>
      </li>

      <li id="devops" class="menu--item menu--item__has_sub_menu">
        <label class="menu--link" title="DevOps">
          <i class="menu--icon  fa fa-fw fa-user"></i>
          <span class="menu--label">DevOps</span>
        </label>
        <ul class="sub_menu">
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/DevOps/SSH.html" class="sub_menu--link">SSH</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/DevOps/Nginx.html" class="sub_menu--link">NGINX</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/DevOps/Jenkins-CI.html" class="sub_menu--link">Build and CI - Jenkins</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/DevOps/Ansible-Configuration-Management-SSH.html" class="sub_menu--link">Ansible - CM</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/DevOps/SaltStack.html" class="sub_menu--link">SaltStack - CM</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/DevOps/Vagrant.html" class="sub_menu--link">Vagrant</a></li>
          <li class="sub_menu--item">Docker</li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/DevOps/Cron.html" class="sub_menu--link">Cron</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/DevOps/Fail2ban.html" class="sub_menu--link">Fail2Ban</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/DevOps/Grep.html" class="sub_menu--link">Grep</a></li>

      </ul>
    </li>


    <li id="javascript" class="menu--item menu--item__has_sub_menu">
        <label class="menu--link" title="Javascript">
          <i class="menu--icon  fa fa-fw fa-user"></i>
          <span class="menu--label">Javascript</span>
        </label>
        <ul class="sub_menu">
         <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Javascript/kendo-mvvm" class="sub_menu--link">Kendo MVVM/templates</a></li>
         <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Javascript/kendo-templates-loops" class="sub_menu--link">Kendo templates for loops</a></li>
         <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Javascript/jquery-deferred" class="sub_menu--link">JQuery deferred object</a></li>
     </ul>
    </li>

    <li class="menu--item menu--item__has_sub_menu">
        <label class="menu--link" title="Services/Daemons">
          <i class="menu--icon  fa fa-fw fa-user"></i>
          <span class="menu--label">Services/Daemons</span>
        </label>
        <ul class="sub_menu">
            <li class="sub_menu--item">Windows Service</li>
            <li class="sub_menu--item">Linux Daemon</li>
            <li class="sub_menu--item">Web Services - ServiceStack</li>
            <li class="sub_menu--item"><a href="http://ASP.Net" class="sub_menu--link">ASP.Net</a></li>
        </ul>
    </li>


    <li class="menu--item menu--item__has_sub_menu">
        <label class="menu--link" title="User Interfaces">
          <i class="menu--icon  fa fa-fw fa-user"></i>
          <span class="menu--label">User Interfaces</span>
        </label>
        <ul class="sub_menu">
         <li class="sub_menu--item">Winforms</li>
         <li class="sub_menu--item">XWT</li>
         <li class="sub_menu--item">GTK#</li>
         <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Automated-Testing-LDTP" class="sub_menu--link">Automated Testing - LDTP</a></li>
     </ul>
    </li>

    <li id="vbintroduction" class="menu--item menu--item__has_sub_menu">
        <label class="menu--link" title="VB Intro">
          <i class="menu--icon  fa fa-fw fa-user"></i>
          <span class="menu--label">VB Intro</span>
        </label>
        <ul class="sub_menu">
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Setup.html">Setup</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Program-The-First.html" class="sub_menu--link">Program the First</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Variables-Basic.html" class="sub_menu--link">Basic Variables</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Variables-Advanced.html" class="sub_menu--link">Advanced Variables</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/User-Input.html" class="sub_menu--link">User Input - Console</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Calculations.html" class="sub_menu--link">Calculations</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Arrays-Array-and-Generic-Lists.html" class="sub_menu--link">Generic Lists and Arrays</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Loops-For.html" class="sub_menu--link">For - Loop</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Loops-For-Each.html" class="sub_menu--link">For Each - Loop</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Loops-While.html" class="sub_menu--link">While - Loop</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Functions-Basic.html" class="sub_menu--link">Basic Functions</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Functions.html" class="sub_menu--link">Functions</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/If-and-Else.html" class="sub_menu--link">Conditionals - If and Else</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Reading-and-Writing-Files.html" class="sub_menu--link">Reading and Writing Files</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Data-Validation.html" class="sub_menu--link">Data Validation</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Error-Handling.html" class="sub_menu--link">Error Handling</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Objects.html" class="sub_menu--link">Objects</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Multiple-Project-Program.html" class="sub_menu--link">Multiple Project Program</a></li>
          <li class="sub_menu--item">Interfaces and Objects</li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Automated-Testing.html" class="sub_menu--link">Automated Testing - NUnit</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Mocking.html" class="sub_menu--link">Mocking - moq</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Multiple-Processes-at-One-Time-(Threading).html" class="sub_menu--link">Threading - Multiple Processes</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Globalization.html" class="sub_menu--link">Globalization</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Resource-Files.html" class="sub_menu--link">Resource Files</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Localization.html" class="sub_menu--link">Localization</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Rounding.html" class="sub_menu--link">Rounding</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/VbIntroduction/Doubles-are-Bad.html" class="sub_menu--link">Doubles are Bad - Financial Calculations</a></li>

      </ul>
    </li>

    <li class="menu--item menu--item__has_sub_menu">
        <label class="menu--link" title="C# Intro">
          <i class="menu--icon  fa fa-fw fa-user"></i>
          <span class="menu--label">C# Intro</span>
        </label>
        <ul class="sub_menu">
          <li class="sub_menu--item"><a href="#" class="sub_menu--link">Write Me</a></li>
          <li class="sub_menu--item"><a href="#" class="sub_menu--link">AutoMapper</a></li>
      </ul>
    </li>

    <li id="miscdev" class="menu--item menu--item__has_sub_menu">
        <label class="menu--link" title="Misc">
          <i class="menu--icon  fa fa-fw fa-user"></i>
          <span class="menu--label">Misc</span>
        </label>
        <ul class="sub_menu">
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Dev/Reflection.html" class="sub_menu--link">Reflection</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Dev/Encryption-and-Hashes.html" class="sub_menu--link">Encryption and Hashes</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Dev/Zip-and-Unzip.html" class="sub_menu--link">Zip and Unzip</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Dev/Firewalls.html" class="sub_menu--link">Firewalls - Windows Platform Only</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}docs/Dev/Internet.html" class="sub_menu--link">Internet - Downloads, Uploads</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Dev/Custom-Events.html" class="sub_menu--link">Custom Events</a></li>
          <li class="sub_menu--item"><a href="{{site.baseurl}}/docs/Dev/XML.html" class="sub_menu--link">XML</a></li>

      </ul>
    </li>

  </ul>

  <button id="collapse_menu" class="collapse_menu">
      <i class="collapse_menu--icon  fa fa-fw"></i>
      <span class="collapse_menu--label">Recolher menu</span>
  </button>

</nav>



