<header id="header">
    

    <nav>
        <a href="{{site.baseurl}}/">
            <i aria-hidden="true"></i> Home
        </a>
    |
        <a href="{{site.baseurl}}/posts">
            <i aria-hidden="true"></i> Posts
        </a>
    |
        <a href="{{site.baseurl}}/docs/Database/index.html" class="opener">
            <i aria-hidden="true"></i> Reporting and Databases</a>
    |
        <a href="{{site.baseurl}}/docs/DevOps/index.html" class="opener">
            <i aria-hidden="true"></i> DevOps</a>
    |
        <a href="{{site.baseurl}}/docs/Javascript/index.html" class="opener">
            <i aria-hidden="true"></i> Javascript</a>
    |
        <a href="{{site.baseurl}}/docs/Services/index.html" class="opener">
            <i aria-hidden="true"></i> Services/Daemons</a>
    |
        <a href="{{site.baseurl}}/docs/UserInterface/index.html" class="opener">
            <i aria-hidden="true"></i> User Interfaces</a>
    |
        <a href="{{site.baseurl}}/docs/VbIntroduction/index.html" class="opener">
            <i aria-hidden="true"></i> VB Intro</a>
    |
        <a href="{{site.baseurl}}/docs/CsIntroduction/index.html" class="opener">
            <i aria-hidden="true"></i> C# Intro</a>
    |
        <a href="{{site.baseurl}}/docs/Dev/index.html" class="opener">
            <i aria-hidden="true"></i> Misc</a>
    </nav>

    {% include search.html %}

    <a href="#" class="logo">
        <strong>{{ page.title }}</strong> by Peter Gill

        {% if page.date And page.date != "" And page.date != nil %}
            <br />
            Created <time datetime="date" itemprop="datePublished">{{ page.date }}</time>
        {% endif %}
        {% if page.last_modified And page.last_modified != "" And page.last_modified != nil %}
            <br />
            Last modified <time datetime="date" itemprop="datePublished">{{ page.last_modified }}</time>
        {% endif %}
    </a>  
    <ul class="icons">
        <li>
            <a href="https://twitter.com/intent/tweet?url={{site.url}}{{page.url}}"
                target="_new">
                <img src="/assets/images/logos/twitter.svg" alt="twitter" style="max-height: 1em;" />
                <span class="label">Twitter</span>
            </a>
        </li>
        <li>
            <a href="https://facebook.com/sharer.php?u={{site.url}}{{page.url}}"
                target="_new">
                <img src="/assets/images/logos/facebook.svg" alt="facebook" style="max-height: 1em;" />
                <span class="label">Facebook</span>
            </a>
        </li>
    </ul>
</header>
