<header id="header">
    <a href="#" class="logo">
        <strong>{{ page.title }}</strong> by Peter Gill</a>
    <ul class="icons">
        <li>
            <a href="https://twitter.com/intent/tweet?url={{site.url}}{{page.url}}" class="icon fa-twitter"
                target="_new">
                <span class="label">Twitter</span>
            </a>
        </li>
        <li>
            <a href="https://facebook.com/sharer.php?u={{site.url}}{{page.url}}" class="icon fa-facebook"
                target="_new">
                <span class="label">Facebook</span>
            </a>
        </li>
    </ul>
</header>
