
.marketing-left-off-canvas-menu .zurb-links ul.pillars li a {
  padding: 0 !important; }

.marketing.off-canvas-wrap .marketing-left-off-canvas-menu {
  -webkit-backface-visibility: hidden;
  background: #333333;
  bottom: 0;
  box-sizing: content-box;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  transition: transform 500ms ease 0s;
  width: 13.88889rem;
  z-index: 1001;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  left: 0;
  top: 0;
  width: 84%; }
  .marketing.off-canvas-wrap .marketing-left-off-canvas-menu * {
    -webkit-backface-visibility: hidden; }
  .marketing.off-canvas-wrap .marketing-left-off-canvas-menu hr {
    border-color: #444444;
    margin: 5px 0 10px 0 !important; }
  .marketing.off-canvas-wrap .marketing-left-off-canvas-menu .off-canvas-list li.gs {
    padding: 0 1.08rem;
    margin-top: 8px; }
  .marketing.off-canvas-wrap .marketing-left-off-canvas-menu .off-canvas-list li a {
    border-bottom: none !important;
    font-size: 1.25rem;
    padding: 0.2rem 0.95rem;
    color: #ccc;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 500; }
  .marketing.off-canvas-wrap .marketing-left-off-canvas-menu .off-canvas-list li label {
    background: none !important;
    border-top: none !important;
    padding: 0.4rem 0.95rem  0.4rem 0.95rem !important;
    font-size: 0.775rem !important; }
  .marketing.off-canvas-wrap .marketing-left-off-canvas-menu .off-canvas-list li label.first {
    padding-top: 0.75rem !important; }
.marketing.off-canvas-wrap.move-right > .inner-wrap {
  -webkit-transform: translate3d(83.5%, 0, 0);
  -moz-transform: translate3d(83.5%, 0, 0);
  -ms-transform: translate(83.5%, 0);
  -o-transform: translate3d(83.5%, 0, 0);
  transform: translate3d(83.5%, 0, 0); }
.marketing.off-canvas-wrap.move-right a.exit-off-canvas {
  -webkit-backface-visibility: hidden;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 300ms ease;
  -webkit-tap-highlight-color: transparent;
  background: rgba(255, 255, 255, 0.2);
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1002; }
  @media only screen and (min-width: 35.61111em) {
    .marketing.off-canvas-wrap.move-right a.exit-off-canvas:hover {
      background: rgba(255, 255, 255, 0.05); } }
.marketing.off-canvas-wrap.move-left > .inner-wrap {
  -webkit-transform: translate3d(-83.5%, 0, 0);
  -moz-transform: translate3d(-83.5%, 0, 0);
  -ms-transform: translate(-83.5%, 0);
  -o-transform: translate3d(-83.5%, 0, 0);
  transform: translate3d(-83.5%, 0, 0); }
.marketing.off-canvas-wrap.move-left a.exit-off-canvas {
  -webkit-backface-visibility: hidden;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 300ms ease;
  -webkit-tap-highlight-color: transparent;
  background: rgba(255, 255, 255, 0.2);
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1002; }
  @media only screen and (min-width: 35.61111em) {
    .marketing.off-canvas-wrap.move-left a.exit-off-canvas:hover {
      background: rgba(255, 255, 255, 0.05); } }

.lt-ie10 .marketing.off-canvas-wrap .marketing-left-off-canvas-menu {
  left: -84%; }
.lt-ie10 .marketing.off-canvas-wrap .marketing-right-off-canvas-menu {
  right: -84%; }
.lt-ie10 .marketing.off-canvas-wrap.move-left > .inner-wrap {
  right: 84%; }
.lt-ie10 .marketing.off-canvas-wrap.move-right > .inner-wrap {
  left: 84%; }

.marketing-left-off-canvas-menu .zurb-links {
  padding-bottom: 25px;
  margin-top: -5px; }

.marketing-left-off-canvas-menu .zurb-links ul.top {
  margin-top: 15px; }

.marketing-left-off-canvas-menu .zurb-links ul.top li {
  display: inline-block;
  margin-left: 0px;
  line-height: 1;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.marketing-left-off-canvas-menu .zurb-links ul.top li.logo {
  margin-left: 0px;
  width: 60px;
  height: 10px; }

.marketing-left-off-canvas-menu .zurb-links ul.top li.logo a {
  margin-top: 1px;
  padding: 3px 8px 3px 0px !important;
  display: block;
  font-size: 0.9rem !important;
  height: 12px;
  width: 60px;
  background: url("../img/offcanvas/zurb-logo.png") no-repeat;
  background-size: 100%; }

.marketing-left-off-canvas-menu .zurb-links ul.top li.logo img {
  width: 60px;
  margin-top: -4px; }

.marketing-left-off-canvas-menu .zurb-links ul.top li a {
  color: #727272 !important;
  text-transform: uppercase;
  font-size: 11px !important;
  padding: 5px !important;
  font-weight: 600 !important; }

.marketing-left-off-canvas-menu .zurb-links ul.pillars {
  list-style: none; }

.marketing-left-off-canvas-menu .zurb-links .footer-link-block span.title {
  padding-bottom: 0px;
  padding-left: 40px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1.3rem  !important;
  margin-bottom: 8px;
  color: #cccccc; }

.marketing-left-off-canvas-menu .zurb-links .footer-link-block span {
  display: block;
  color: #ccc;
  font-size: 1.0rem  !important;
  line-height: 18px;
  margin-bottom: 18px;
  line-height: 20px;
  margin-bottom: 24px;
  color: #727272;
  padding-left: 0;
  font-size: 0.9rem  !important; }

.marketing-left-off-canvas-menu .zurb-links .footer-link-block {
  font-weight: normal;
  background: url("../img/offcanvas/footer-icons.png") no-repeat 0 0;
  display: block;
  margin-bottom: 14px;
  padding-top: 6px; }

.marketing-left-off-canvas-menu .zurb-links .footer-link-block.expo {
  background-position: 0 -798px; }

.marketing-left-off-canvas-menu .zurb-links .footer-link-block.services {
  background-position: 0 -198px; }

.marketing-left-off-canvas-menu .zurb-links .footer-link-block.apps {
  background-position: 0 -598px; }

.marketing-left-off-canvas-menu .zurb-links .footer-link-block.foundation {
  background-position: 0 -398px; }

/* Retina Images */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .marketing-left-off-canvas-menu .zurb-links .footer-link-block {
    font-weight: normal;
    background: url("../img/offcanvas/footer-icons-retina.png") no-repeat 0 0;
    display: block;
    margin-bottom: 14px;
    padding-top: 6px; }

  .marketing-left-off-canvas-menu .zurb-links .footer-link-block.expo {
    background-position: 0 -798px; }

  .marketing-left-off-canvas-menu .zurb-links .footer-link-block.services {
    background-position: 0 -400px; }

  .marketing-left-off-canvas-menu .zurb-links .footer-link-block.apps {
    background-position: 0 -598px; }

  .marketing-left-off-canvas-menu .zurb-links .footer-link-block.foundation {
    background-position: 0 -398px; } }
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 320px) {
  .marketing-left-off-canvas-menu .zurb-links .footer-link-block {
    font-weight: normal;
    background: url("../img/offcanvas/footer-icons-retina.png") no-repeat 0 0;
    display: block;
    margin-bottom: 14px;
    padding-top: 6px; }

  .marketing-left-off-canvas-menu .zurb-links .footer-link-block.expo {
    background-position: 0 -793px;
    background-size: 100px 1400px; }

  .marketing-left-off-canvas-menu .zurb-links .footer-link-block.services {
    background-position: 0 -197px !important;
    background-size: 100px 1400px; }

  .marketing-left-off-canvas-menu .zurb-links .footer-link-block.apps {
    background-position: 0 -595px;
    background-size: 100px 1400px; }

  .marketing-left-off-canvas-menu .zurb-links .footer-link-block.foundation {
    background-position: 0 -395px;
    background-size: 100px 1400px; } }


